source https://www.nuget.org/api/v2
storage: none
clitool dotnet-mono 0.5.2
clitool Microsoft.DotNet.Watcher.Tools 1.0.0
clitool dotnet-sourcelink 2.8.1
nuget FSharp.Core 4.3.4
nuget Expecto 8.0.0
nuget SourceLink.Create.CommandLine 2.8.1 copy_local: true
nuget YoloDev.Expecto.TestSdk 0.5.0
nuget Microsoft.NET.Test.Sdk 15.7.2


group Build
  framework: >= net45
  source https://www.nuget.org/api/v2
  nuget FAKE 4.64.13
  github fsharp/FAKE modules/Octokit/Octokit.fsx
  nuget altcover 3.0.490
  nuget ReportGenerator 3.1.2
