source https://www.nuget.org/api/v2
storage: none
clitool dotnet-mono 0.5.2-alpha001
clitool Microsoft.DotNet.Watcher.Tools 2.0.1
clitool dotnet-sourcelink 2.8.0
nuget FSharp.Core 4.3.3
nuget Expecto 7.0.0
nuget SourceLink.Create.CommandLine 2.8.0 copy_local: true


group Build
    source https://www.nuget.org/api/v2
    nuget FAKE
