<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- `clear` ensures no additional sources are inherited from another config file. -->
    <packageSources>
    <clear />
    <!-- `key` can be any identifier for your source. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="contoso.com" value="https://contoso.com/packages/" /> -->
    </packageSources>

    <!-- https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping -->
    <!-- Define mappings by adding package patterns beneath the target source. -->
    <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
        <package pattern="*" />
    </packageSource>
    <!-- <packageSource key="contoso.com">
        <package pattern="Contoso.*" />
        <package pattern="NuGet.Common" />
    </packageSource> -->
    </packageSourceMapping>
</configuration>
