source https://www.nuget.org/api/v2
source https://api.nuget.org/v3/index.json
storage: none
nuget Argu 6.1.1
nuget FSharp.Core 5.0
nuget Expecto 9.0.2
nuget YoloDev.Expecto.TestSdk 0.11.1
nuget Microsoft.NET.Test.Sdk 16.8.0
nuget altcover ~> 7
nuget Packaging.Targets 0.1.189

// [ FAKE GROUP ]
group Build
    storage: none
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget Argu
    nuget Fake.IO.FileSystem 5.20.4-alpha.1642
    nuget Fake.Core.Target 5.20.4-alpha.1642
    nuget Fake.Core.ReleaseNotes 5.20.4-alpha.1642
    nuget FAKE.Core.Environment 5.20.4-alpha.1642
    nuget Fake.DotNet.Cli 5.20.4-alpha.1642
    nuget FAKE.Core.Process 5.20.4-alpha.1642
    nuget Fake.DotNet.AssemblyInfoFile 5.20.4-alpha.1642
    nuget Fake.Tools.Git 5.20.4-alpha.1642
    nuget Fake.DotNet.Paket 5.20.4-alpha.1642
    nuget Fake.Api.GitHub 5.20.4-alpha.1642
    nuget Fake.BuildServer.GitHubActions 5.20.4-alpha.1642
    nuget Fantomas 3.2
    nuget Octokit 0.48

group Analyzers
  source https://www.nuget.org/api/v2
  source https://api.nuget.org/v3/index.json
  nuget BinaryDefense.FSharp.Analyzers.Hashing 0.2.2
